body {
  font-family: sans-serif;
  background: #5a5dbb;
  margin: 0;
  padding: 0;
}

.card {
  max-width: 500px;
  margin: 50px auto;
  background: #499bee;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  border: none;
  background: #2b6ef6;
  color: rgb(0, 39, 31);
  border-radius: 6px;
  cursor: pointer;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
}
.option {
background: #27d8cf;
padding: 8px;
border-radius: 6px;
cursor: pointer;
border: 1px solid #ccc;
}
option:hover {
background: #2b6ef6;
color: white;
}